<div class="container">
  <div class="jumbotron">
    <h1>Talent</h1>
    <div class="col-md-4 col-md-offset-10">
      <%= link_to "New", new_talent_path, class: "btn btn-primary" %>
    </div>
  </div>


  <div class="row">
    <%= render 'shared/talent_table' %>
  </div>
</div>
