<div class="container">
<p>Adding <%= @talent.full_name %> to <%= @breakdown.name %></p>
<p>Here you will select the pictures to use and then click create.</p>

<% for photo in @talent.photos %>
      <%= image_tag photo.url(:thumb) %>
<% end %>


<p><%= button_to "Create", picks_path(talent_id: @talent, breakdown_id: @breakdown), method: :post %></p>
</div>
